.title {
    font-size: 15px;
    color:#FF9900;
    margin-bottom: ;
}

.comment {
    border: solid 3px #FF9900;
    font-size: 13px;
    color: #333333;
    background: #ffffff;
    width: 800px;
    /* height: 100px; */
    padding: 20px;
    margin-bottom: 30px;
}
input{
	width: 60px;
}

.SmallXY{
	width: 60px;
}

.InputForms{
	/* この要素はflexコンテナとなり、子要素は自動的にflexアイテムとなる */
/*	display: flex;*/

	/* 横並びに表示する */
/*	flex-direction: row;*/

	/* 画面幅に収まらない場合は折り返す */
	flex-wrap: wrap;
/*	border: solid 3px #ff0000;*/
	width: 600px;
/*
	float: left;
*/
}

.Returns{
/*   border: solid 3px #ff0000;*/
/*	width: 800px;*/
}

#openHere{
	display:none;
	clear:both;
}